html,
body {
  height: 100%;
}

body {
  background-color: #026ba8;
  background-image: linear-gradient(135deg, #3ac599, #026ba8);
}

.container {
  min-height: 100%;
}

@media (max-width: 575px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .card {
    width: 450px;
  }
}
